/*
 * Styles for the "Write a Book" page
 */
.write-page {
    .content-wrap {
        width: auto;
        overflow: hidden;
        margin: 0.5em 1em;
    }

    .writing-controls {
        display: none;
        margin: .5em 0;
    }

    noscript {
        color: red;
        font-weight: bold;
        font-size: 2em;
    }

    .aWrap {
      overflow: auto;
      height: auto;
      input[type='search'] {
        width: 16em;
      }
      select, input, button, label {
        display: inline-block;
        &[name='audience'] {
          width: auto;
        }
      }
    }

    .steps {
        padding: 0.5em;
        background-color: #EEE;
        position: relative;
        max-width: 100%;
        overflow: auto;
        span {
          margin-right: .25em;
        }

        .categorizeButton {
          width: auto;
          margin-left: 0.25em;
          margin-top: 0.25em;
        }
    }

    .image-search {
      margin-top: 0.5em;
    }

    .gallery {
        margin: 1em auto;
        width: 90%;
        //height: 6em;
    }

    h2, h3 {
        @include linearGradient(top, bottom, #FEFEFE, #F8F8F8);
        position: relative;
        font-size: 1em;
        padding: 0.3em;
        padding-left: 0.5em;
        margin: 0 0 0.25em 0;

        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        border-radius: 1em;
        color: #333;
    }

    .write-pages {
        font-size: 3px;
        width: 100%;
        margin: 1em auto;
        overflow: auto;
    }

    .thr-book-page {
        margin: 0.5em;
        width: 48em;
        height: 36em;
        background-color: white;
        float: left;
        border: 1px solid black;
    }

    .thr-pic {
        display: inline;
    }

    .settings {
        margin-top: 1em;
        clear: both;
    }

    .categories {
        line-height: 2em !important;
    }

    .categories label {
        width: 12em;
        float: left;
        margin-bottom: 1em;
        height: 2em;
        word-wrap: break-word;
    }

    label {
        line-height: 1.2em;
        margin: 0 0.5em;
    }

    .categories input {
        vertical-align: baseline;
    }

    .step3a {
        display: none;
    }

    button {
        font-size: 1em;
    }

    // help icon
    .help {
      width: 2em;
      height: 2em;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }

    div.publishErrors {
        p {
            font-weight: bold;
            margin-left: 1em;
        }
        .peMessage {
            margin-left: 0;
        }
    }

    label.uploadPermission {
        display: none;
    }

    label.uploadPermission.needPermission {
        display: block;
        margin: 1em 0;
    }
} // end .write-page

.text-too-long-warn {
    background: yellow;
}
.text-too-long {
    background: red;
}

.edit-page {
    width: 48em !important;
    height: 36em !important;

    .thr-pic {
        display: inline !important;
    }

    textarea {
        width: 36.5em / $captionFontSize * 1em;
        height: 6.5em / $captionFontSize * 1em;
        margin: auto;
        padding: 0;
        line-height: 1.2em;
        resize: none;
    }

    .deleteIcon {
        width: 2em;
        height: 2em;
        position: absolute;
        top: 0.5em;
        left: 0.5em;
    }
    .copyIcon {
        width: 2em;
        height: 2em;
        position: absolute;
        top: 0.5em;
        left: 2.5em;
    }
}

.galleryPreviewDialog {
    width: 20em !important;
    height: 20em !important;

    img {
        margin: auto;
        display: block;
    }

    a {
        height: 100%;
        opacity: 0;
        width: 45%;
        position: absolute;
        top: 0;

        img {
            margin-top: 2em;
        }

        &.p {
            left: 0;
        }

        &.n {
            right: 0;
        }

        &:hover {
            opacity: 0.5;
        }
    } // end a
} // end .galleryPreviewDialog
