<div class="thr-book-page page-wrap" data-title="{{title}}"
     style="color:#{{textColor}}; background-color:#{{pageColor}}; border-color:#{{textColor}}">
    <a class="thr-home-icon" href="/" title="Go home">
        <img src="/theme/images/home.png" alt="home" />
    </a>
    {{#thanks}}
    <div class="thr-thanks">
        <h1>{{thanks}}</h1>
        <img src="/theme/images/{{rating}}stars.png" />
        <p>{{averageText}}: {{rating}}</p>
    </div>
    {{/thanks}}
    <h1 class="thr-question">{{question}}</h1>
    <ul class="thr-choices">
        {{#choices}}
        <li data-speech="{{speech}}">
            <a href="{{href}}">{{#image}}<img src="/theme/images/{{url}}" class="{{cls}}" alt="{{alt}}" />{{/image}}{{text}}</a>
        </li>
        {{/choices}}
    </ul>
</div>
