<object class="flashplayer" type="application/x-shockwave-flash" data="/wp-content/themes/thr3/player_mp3_mini.swf" width="1" height="1">
     <param name="movie" value="/wp-content/themes/thr3/player_mp3_mini.swf" />
     <param name="bgcolor" value="#ff0000" />
     <param name="FlashVars" value="mp3={{{mp3}}}&amp;autoplay=1" />
</object>
