    <form action="{{action}}" method="{{method}}">
    {{#controls}}
        {{#label}}
        <label for="{{name}}Input" class="screen-reader-text">{{label}}</label>
        {{/label}}
        {{#input}}
        <input type="{{type}}"  value="{{value}}" {{#name}}name="{{name}}" id="{{name}}Input"{{/name}}
               {{#description}}placeholder="{{description}}" title="{{description}}"{{/description}} />
        {{/input}}
        {{#select}}
        <select id="{{name}}Input" name="{{name}}">
            {{#options}}
            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
            {{/options}}
        </select>
        {{/select}}
    {{/controls}}
    </form>
