<header>
    <div id="header">
        <a href="/" id="thr-home-icon" title="Go home"><img src="/wp-content/themes/thr3/images/home.png" alt="go home"/></a>
        <a href="/reading-controls/" id="thr-settings-icon" title="Settings"><img src="/wp-content/themes/thr3/images/settings.png" alt="settings"/></a>
        <h1><a href="/">Tar Heel Reader</a></h1>
        <div class="description">Books for beginning readers of all ages</div>
    </div>
</header>

