    {{#favorites}}
        {{^books}}
        <p>_(Your favorites page is empty.)</p>
        <p>_(You may add books to the favorites by clicking on the checkbox in the upper right corner of each book on pages where you choose a book to read and on the Index of Titles page. You may remove books from the favorites by clicking on the red X in the upper right of each book in the list of favorites.)</p>
        {{/books}}
    {{/favorites}}
    {{^favorites}}
        {{^books}}
        <p>_(No books found. Try another search.)</p>
        {{/books}}
    {{/favorites}}
    <ul class="thr-book-list">
        {{#books}}
        <li class="selectable thr-colors" data-preview="{{preview.url}}" data-id="{{ID}}" lang="{{language}}" >
            <a href="{{link}}" data-type="book">
                <h2>{{title}}</h2>
                <p class="thr-author">_(by {{author}}|short for written by author name)</p>
                <img src="/theme/images/{{rating}}stars_t.png" class="thr-stars"
                     {{#rating}}
                     alt="{{rating}} stars" title="_({{rating}} stars)"
                     {{/rating}}
                     {{^rating}}
                     alt="not yet rated" title="_(not yet rated)"
                     {{/rating}}
                />
                {{#reviewed}}
                <img src="/theme/images/reviewed_t.png" class="thr-reviewed"
                     alt="reviewed for educational quality" title="_(Reviewed for educational quality.|icon explanatory text)" />
                {{/reviewed}}
                {{#caution}}
                <img src="/theme/images/caution_t.png" class="thr-caution"
                     alt="rated C for caution" title="_(May not be appropriate for all readers.|icon explanatory text)" />
                {{/caution}}
                {{#cover}}
                    <div class="thr-thumb-box">
                        <img src="{{staticHost}}{{url}}" class="thr-thumb" style="width:{{pw}}%; height:{{ph}}%; padding-top: {{pm}}%" data-width="{{width}}" data-height="{{height}}" />
                    </div>
                {{/cover}}
                <p class="thr-pages">{{pages}}</p>
            </a>
        </li>
        {{/books}}
    </ul>
