    <a class="thr-home-icon" href="/" title="Go home">
        <img src="/theme/images/home.png" alt="home" />
    </a>
    {{#frontPage}}
    <a href="/reading-controls/?id={{ID}}" class="thr-settings-icon" title="Settings">
        <img src="/theme/images/settings.png" alt="settings" />
    </a>
    <h1>{{title}}</h1>
    <p class="thr-author">by {{author}}</p>
    {{/frontPage}}
    {{^frontPage}}
    <p class="thr-page-number">{{pageNumber}}</p>
    {{/frontPage}}
    <div class="thr-pic-box">
        {{#image}}
        <img src="{{url}}" class="thr-pic" style="width:{{pw}}%; height:{{ph}}%; padding-top: {{pm}}%" 
             data-width="{{width}}" data-height="{{height}}" />
        {{/image}}
    </div>
    <a class="thr-credit" href="/photo-credits/?id={{ID}}">Photo credits</a>
    {{^frontPage}}
    <p class="thr-caption">{{caption}}</p>
    {{/frontPage}}
    <a class="thr-back-link" data-role="back" href="{{backLink}}">
        <img src="/theme/images/BackArrow.png" />Go back</a>
    <a class="thr-next-link" href="{{nextLink}}">
        <img src="/theme/images/NextArrow.png" />Next page</a>
    {{{audio}}}
