<div class="busyBlocker">
    <div class="busyMessage">
        <div class="loadingMessage">
            <img src="/theme/images/loading.gif" alt=" "/>
            _(Loading. Please wait.)
            <button class="ajaxCancel">_(Cancel|Button label)</button>
        </div>
        <div class="errorMessage">
            _(Something went wrong. The message was:) "<span></span>"
            <button class="urlRetry">_(Try again|Button label)</button>
            <button class="ajaxCancel">_(Cancel|Button label)</button>
        </div>
    </div>
</div>
