    <a class="thr-home-icon" href="/" title="_(Go home|icon explanatory text)">
        <img src="/theme/images/home.png" alt="home" />
    </a>
    {{#what}}
    <h1 class="thr-question" data-speech="whatnow">_(What would you like to do now?):whatnow</h1>
    <ul class="thr-choices">
        <li data-speech="again"><a class="key-a" href="{{link}}" data-type="book">_(Read this book again.):again</a></li>
        <li data-speech="rate"><a class="key-r" href="{{link}}{{nextPage}}/" data-type="book">_(Rate this book.):rate</a></li>
        <li data-speech="another"><a class="key-d" href="{{findLink}}">_(Read another book.):another</a></li>
    </ul>
    {{/what}}
    {{#rate}}
    <h1 class="thr-question" data-speech="howrate">_(How do you rate this book?)</h1>
    <ul class="thr-choices">
        <li data-speech="1star"><a class="key-1" href="{{link}}{{nextPage}}/?rating=1" data-type="book">
            <img src="/theme/images/1stars.png" class="thr-stars">_(1 star):1star</a></li>
        <li data-speech="2stars"><a class="key-2" href="{{link}}{{nextPage}}/?rating=2" data-type="book">
            <img src="/theme/images/2stars.png" class="thr-stars">_(2 stars):2stars</a></li>
        <li data-speech="3stars"><a class="key-3" href="{{link}}{{nextPage}}/?rating=3" data-type="book">
            <img src="/theme/images/3stars.png" class="thr-stars">_(3 stars):3stars</a></li>
    </ul>
    {{/rate}}
    {{#thanks}}
    <h1 class="thr-thanks">_(Thank you for your opinion.)</h1>
    <img src="/theme/images/{{rating}}stars.png" />
    <p>_(Average Rating): {{rating}}</p>
    <h1 class="thr-question" data-speech="whatnow">_(What would you like to do now?):whatnow</h1>
    <ul class="thr-choices">
        <li data-speech="again"><a class="key-a" href="{{link}}" data-type="book">_(Read this book again.):again</a></li>
        <li data-speech="another"><a class="key-d" href="{{findLink}}">_(Read another book.):another</a></li>
    </ul>
    {{/thanks}}
