    {{#what}}
    <h1 class="thr-question thr-colors" data-speech="whatnow">_(What would you like to do now?):whatnow</h1>
    <ul class="thr-choices decoratedList">
        <li class="thr-colors-invert" data-speech="again"><a class="key-a" href="{{link}}" data-type="book">_(Read this book again.):again</a></li>
        <li class="thr-colors-invert" data-speech="rate"><a class="key-r" href="{{nextLink}}" data-type="book">_(Rate this book.):rate</a></li>
        <li class="thr-colors-invert" data-speech="another"><a class="key-d" href="{{findLink}}">_(Read another book.):another</a></li>
    </ul>
    {{/what}}
    {{#rate}}
    <h1 class="thr-question thr-colors" data-speech="howrate">_(How do you rate this book?):howrate</h1>
    <ul class="thr-choices decoratedList">
        <li class="thr-colors-invert" data-speech="1star"><a class="key-1" href="{{nextLink}}?rating=1" data-type="book">
            <img src="/theme/images/1stars.png" class="thr-stars" alt=" ">_(1 star):1star</a></li>
        <li class="thr-colors-invert" data-speech="2stars"><a class="key-2" href="{{nextLink}}?rating=2" data-type="book">
            <img src="/theme/images/2stars.png" class="thr-stars" alt=" ">_(2 stars):2stars</a></li>
        <li class="thr-colors-invert" data-speech="3stars"><a class="key-3" href="{{nextLink}}?rating=3" data-type="book">
            <img src="/theme/images/3stars.png" class="thr-stars" alt=" ">_(3 stars):3stars</a></li>
    </ul>
    {{/rate}}
    {{#thanks}}
    <h1 class="thr-thanks thr-colors">_(Thank you for your opinion.)</h1>
    {{#rating}}
    <img src="{{img}}" title="{{text}}" alt="{{text}}" />
    <p class="thr_colors">_(Average Rating) {{text}}</p>
    {{/rating}}
    <h1 class="thr-question thr_colors" data-speech="whatnow">_(What would you like to do now?):whatnow</h1>
    <ul class="thr-choices decoratedList">
        <li class="thr-colors-invert" data-speech="again"><a class="key-a" href="{{link}}" data-type="book">_(Read this book again.):again</a></li>
        <li class="thr-colors-invert" data-speech="another"><a class="key-d" href="{{findLink}}">_(Read another book.):another</a></li>
    </ul>
    {{/thanks}}
