<h2>_(Collections)</h2>
<form class="collectionsSearchForm" action="/collections/" method="get">
    <input class="thr-input" name="q" type="search" placeholder="_(Enter text to search|placeholder text for search box)" />
    <input class="thr-blue-button" type="submit" value="_(Search|button label)" />
</form>
{{^has_collections}}
<p>_(No collections matching that query. Try again.)</p>
{{/has_collections}}
{{#has_collections}}
<ul class="collections">
    {{#collections}}
    <li>
        <a href="/favorites/?collection={{slug}}">
            <p class="title">{{title}}</p>
            <p class="description">{{description}}</p>
        </a>
    </li>
    {{/collections}}
</ul>
{{/has_collections}}
<p><a href="/your-books/">_(Create your own collection)</a></p>
<div class="navigation">
    {{#nextLink}}
    <a class="next" href="{{nextLink}}">_(Next|button label)</a>
    {{/nextLink}}
    {{#prevLink}}
    <a class="back" href="{{prevLink}}">_(Back|button label)</a>
    {{/prevLink}}
</div>

