{{&heading}}
<div id="searchForm">
    {{&searchForm}}
</div>
<a href="" id="searchShowButton">_(Press to search)</a>
{{&bookList}}
<div class="clearfix"></div>
{{#backLink}}
<a class="thr-find-back selectable" href="{{backLink}}">_(Previous Books)</a>
{{/backLink}}
{{#nextLink}}
<a class="thr-find-next selectable" href="{{nextLink}}">_(More Books)</a>
{{/nextLink}}
