{{&heading}}
<div class="searchForm">
    {{&searchForm}}
</div>
<a href="" class="searchShowButton">_(Press to search|label for button to expose search fields on small devices)</a>
{{&bookList}}
<div class="clearfix"></div>
{{#backLink}}
<a class="thr-find-back selectable" href="{{backLink}}">_(Previous Books|button label)</a>
{{/backLink}}
{{#nextLink}}
<a class="thr-find-next selectable" href="{{nextLink}}">_(More Books|button label)</a>
{{/nextLink}}
<div class="clearfix"></div>
