<div class="searchForm">
    {{&searchForm}}
</div>
{{#searchForm}}
<a class="searchShowButton no-ajaxy">_(Press to search|label for button to expose search fields on small devices)</a>
{{/searchForm}}
{{&bookList}}
<div class="clearfix"></div>
{{#backLink}}
<a class="findPageNavButton thr-find-back selectable thr-colors" href="{{backLink}}" data-speech="previous">_(Previous Books|button label):previous</a>
{{/backLink}}
{{#nextLink}}
<a class="findPageNavButton thr-find-next selectable thr-colors" href="{{nextLink}}" data-speech="next">_(More Books|button label):next</a>
{{/nextLink}}
<div class="clearfix"></div>
