    <form action="{{action}}" method="{{method}}">
    {{#controls}}
        {{#label}}
        <label for="I-{{name}}-{{unique}}" >{{label}}</label>
        {{/label}}
        {{#input}}
        <input type="{{type}}" value="{{value}}" id="I-{{name}}-{{unique}}" {{#name}}name="{{name}}"{{/name}}
               {{#description}}placeholder="{{description}}" title="{{description}}"{{/description}} />
        {{/input}}
        {{#select}}
        <select id="I-{{name}}-{{unique}}" name="{{name}}">
            {{#options}}
            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
            {{/options}}
        </select>
        {{/select}}
    {{/controls}}
    </form>
