<h2>_(Welcome)</h2>

<noscript><p>_(This site will work much better if you enable Javascript. You'll get switch accessibility, pictures that automatically size to your window, and the ability to write books of your own. Please enable Javascript for the best Tar Heel Reader experience.)</p></noscript>

<p>_(Welcome to the Tar Heel Reader, a collection of free, easy-to-read, and accessible books on a wide range of topics. Each book can be speech enabled and accessed using multiple interfaces, including touch screens, the IntelliKeys with custom overlays, and 1 to 3 switches.) <a href="/accessing-tar-heel-reader/">_(Click here to learn more about alternative access methods.)</a></p>

<p>_(You may write your own books using pictures from the huge collection at {{{Flickr}}} or pictures you upload. All books should be complete, edited, and revised to the best of your ability before publishing them to the site. While you are working on them, please save them as drafts.)</p>

<p>_(Note the little well icon {{{wellicon}} in the upper left corner of the page; clicking it will allow you to access the main menu. You can also click the settings icon {{{gearicon}}} to change settings on some pages.)</p>

<p>_(Ready to get started?)</p>
<ul id="homeLinkList">
    <li><a class="homeLink" href="/find/">_(Find a book)</a></li>
    <li><a class="homeLink" href="/write/">_(Write a book)</a></li>
</ul>

<p>_(This site is also available in other languages. To help with translation, contact us.)</p>

<form id="languageForm" action="" method="post">
	<select name="lang" id="languages">
    	<option value="/?locale=de">Deutsch</option>
    	<option value="/?locale=en" selected="selected">English</option>
	</select>
	<input title="change language" id="goButton" name="go" class="thr-gray-button" type="submit" value=" ">
</form>

<!-- content -->
<p>{{{content}}}</p>
<!-- content end -->

<p><b>_(Latest Announcements)</b></p>
<ul>
{{#announcements}}
    <li><a href="{{{link}}}">{{title}}</a></li>
{{/announcements}}
</ul>
