<h2>_(Welcome)</h2>

<p>_(Welcome to the Tar Heel Reader, a collection of free, easy-to-read, and accessible books on a wide range of topics. Each book can be speech enabled and accessed using multiple interfaces, including touch screens, the IntelliKeys with custom overlays, and 1 to 3 switches.) <a href="/accessing-tar-heel-reader/">_(Click here to learn more about alternative access methods.)</a></p>

<p>_(You may write your own books using pictures from the huge collection at {{{Flickr}}} or pictures you upload. All books should be complete, edited, and revised to the best of your ability before publishing them to the site. While you are working on them, please save them as drafts.)</p>

<p>_(Note the little well icon {{{wellicon}}} in the upper left corner of the page; clicking it will allow you to access the main menu. You can also click the settings icon {{{gearicon}}} to change settings on some pages.)</p>

<p class="unsupported">_(Your browser is unsupported. The site should work for finding and reading books but you will not have switch access or the ability to write books. We recommend that you upgrade to a modern browser or install Chrome Frame.)</p>

<p class="classic"><a class="no-ajaxy" href="/?classic=0">_(You are in Classic mode. You will not have access to all of the features of the site but it may work better on older computers and web browsers. Click this text to leave Classic mode.)</a></p>

<p>_(Ready to get started?)</p>
<ul class="homeLinkList">
    <li><a class="homeLink" href="/find/">_(Find a book)</a></li>
    <li><a class="homeLink" href="/write/">_(Write a book)</a></li>
</ul>

<p>_(This site is also available in other languages. To help with translation, contact us.)</p>

<form class="languageForm" action="" method="get">
    <select name="locale" class="languages">
        {{#locales}}
        <option value="{{value}}"{{#selected}} selected="selected"{{/selected}}>{{label}}</option>
        {{/locales}}
    </select>
    <input title="_(change language)" class="goButton thr-gray-button" name="go" type="submit" value=" ">
</form>

<!-- content -->
<p>{{{content}}}</p>
<!-- content end -->

<p><b>_(Latest Announcements)</b></p>
<ul>
{{#announcements}}
    <li><a href="{{{link}}}">{{title}}</a></li>
{{/announcements}}
</ul>
