<article>
  <div class="post">
    <div class="entry">
      <h2>_(Welcome)</h2>

      <p>
        Welcome to the Tar Heel <b>Shared</b> Reader, a varient of
        <a href="https://tarheelreader.org">Tar Heel Reader</a> that emphasizes
        shared reading.
      </p>

      <p>
        Note the little well icon {{{wellicon}}} in the upper left corner of the
        page; clicking it will allow you to access the main menu. You can also
        click the settings icon {{{gearicon}}} to change settings on some pages.
      </p>

      <p class="unsupported">
        Your browser is unsupported. The site should work for finding and
        reading books but you will not have switch access or the ability to
        write books. We recommend that you upgrade to a modern browser or
        install Chrome Frame.
      </p>

      <p class="classic">
        <a class="no-ajaxy onlineOnly" href="/?classic=0"
          >_(You are in Classic mode. You will not have access to all of the
          features of the site but it may work better on older computers and web
          browsers. Click this text to leave Classic mode.)</a
        >
      </p>

      <p>_(Ready to get started?)</p>
      <ul class="homeLinkList">
        <li><a class="homeLink" href="/find/">_(Find a book)</a></li>
      </ul>
    </div>
  </div>
</article>
