<header>
    <div class="header" data-id="{{ID}}">
        <a href="/navigation/" class="thr-well-icon" title="_(Open Menu|icon explanatory text)"><img src="/theme/images/well.png" alt="_(Open Menu|icon explanatory text)"/></a>
        {{#settings}}
            {{#ID}}
            <a href="/reading-controls/?id={{ID}}" class="thr-settings-icon" title="_(Settings|icon explanatory text)"><img src="/theme/images/settings.png" alt="_(Settings|icon explanatory text)"/></a>
            {{/ID}}
            {{^ID}}
            <a href="/reading-controls/" class="thr-settings-icon" title="_(Settings|icon explanatory text)"><img src="/theme/images/settings.png" alt="_(Settings|icon explanatory text)"/></a>
            {{/ID}}
        {{/settings}}
        {{#favorites}}
        <a href="{{{setFavorite}}}" class="thr-favorites-icon no-ajaxy" title="_(Select Favorites|icon explanatory text)"><img class="favoriteNoIcon" src="/theme/images/FavoriteNoIcon.png" alt=" "/><img class="favoriteYesIcon" src="/theme/images/FavoriteYesIcon.png" alt=" "/></a>
        {{/favorites}}
        {{^noTitle}}
        <h1 title="_(Books for beginning readers of all ages|site sub-heading)">_(Tar Heel Reader|site name)</h1>
        {{/noTitle}}
    </div>
</header>
