<header>
    <div class="header">
        <a href="/navigation/" class="thr-well-icon" title="_(Open Menu|icon explanatory text)"><img src="/theme/images/well.png" alt="Main Menu"/></a>
        <a href="/reading-controls/" class="thr-settings-icon" title="_(Settings|icon explanatory text)"><img src="/theme/images/settings.png" alt="settings"/></a>
        {{#setFavorite}}
        <a href="{{{setFavorite}}}" class="thr-favorites-icon no-ajaxy" title="_(Select Favorites|icon explanatory text)"></a>
        {{/setFavorite}}
        {{^setFavorite}}
        <a href="" class="thr-favorites-icon no-ajaxy" title="_(Select Favorites|icon explanatory text)"></a>
        {{/setFavorite}}
        <h1><a href="/" title="_(Books for beginning readers of all ages|site sub-heading)">_(Tar Heel Reader|site name)</a></h1>
		<!-- Begin mainSettings Panel -->
		<ul class="mainSettings">
			<!-- Begin Speech -->
			<li><a href="#" class="speech">_(Speech|section heading)</a>
				<!-- Begin submenu -->
				<ul class="submenu speechOptions">
					<li><a href="#" class="silent">_(Silent)</a></li>
					<li><a href="#" class="child">_(Child)</a></li>
					<li><a href="#" class="female">_(Woman)</a></li>
					<li><a href="#" class="male">_(Man)</a></li>
				</ul>
				<!-- End submenu -->
			</li>
			<!-- End Speech -->
			<!-- Begin Colors -->
			<li><a href="#" class="colors">_(Colors|section heading)</a>
				<!-- Begin first submenu -->
				<ul class="submenu">
					<li class="pageColors"><a href="#">_(Page Colors|section heading)</a>
						<!-- Begin inner submenu -->
						<ul class="innerSubmenu pageColorsOptions">
							<li><a href="#" class="black">_(Black)</a></li>
							<li><a href="#" class="blue">_(Blue)</a></li>
							<li><a href="#" class="cyan">_(Cyan)</a></li>
							<li><a href="#" class="green">_(Green)</a></li>
							<li><a href="#" class="magenta">_(Magenta)</a></li>
							<li><a href="#" class="red">_(Red)</a></li>
							<li><a href="#" class="white">_(White)</a></li>
							<li><a href="#" class="yellow">_(Yellow)</a></li>
						</ul>
						<!-- End inner submenu -->
					</li>
					<li class="textColors"><a href="#">_(Text Colors|section heading)</a>
						<!-- Begin inner submenu -->
						<ul class="innerSubmenu textColorsOptions">
							<li><a href="#" class="black">_(Black)</a></li>
							<li><a href="#" class="blue">_(Blue)</a></li>
							<li><a href="#" class="cyan">_(Cyan)</a></li>
							<li><a href="#" class="green">_(Green)</a></li>
							<li><a href="#" class="magenta">_(Magenta)</a></li>
							<li><a href="#" class="red">_(Red)</a></li>
							<li><a href="#" class="white">_(White)</a></li>
							<li><a href="#" class="yellow">_(Yellow)</a></li>
						</ul>
						<!-- End inner submenu -->
					</li>
				</ul>
				<!-- End first submenu -->
			</li>
			<!-- End Colors -->
			<!-- Begin Download -->
			<li><a class="download" href="#">_(Download|section heading)</a>
				<!-- Begin submenu -->
				<ul class="submenu">
					<li><a class="powerpoint">_(PowerPoint)</a></li>
					<li><a class="impress">_(Impress)</a></li>
					<li><a class="flash">_(Flash)</a></li>
				</ul>
				<!-- End submenu -->
			</li>
			<!-- End Download -->
			<li><a class="default" href="#">_(Default)</a></li>
		</ul>
	<!-- End Settings Panel -->
	</div>
</header>
