{{^logged_in}}
    <h2>_(Log in to Tar Heel Reader)</h2>
    {{#failed}}<p class="message">_(Login Failed)</p>{{/failed}}
    <form class="loginForm" action="/login/" method="post">
        <p>
            <label>_(Username)<br />
                <input class="thr-input" type="text" name="log" class="input" value="" size="20" tabindex="10" />
            </label>
        </p>
        <p>
            <label>_(Password)<br />
                <input class="thr-input" type="password" name="pwd" class="input" value="" size="20" tabindex="20" />
            </label>
        </p>
        <p class="forgetmenot">
            <label>
                <input name="rememberme" type="checkbox" value="forever" tabindex="90" /> _(Remember Me|login checkbox label)
            </label>
        </p>
        <p class="submit">
            <input class="thr-blue-button"type="submit" name="wp-submit" class="button-primary" value="_(Log In|link label)" tabindex="100" />
            <input type="hidden" name="redirect_to" value="{{redirect}}" />
            <input type="hidden" name="testcookie" value="1" />
        </p>
    </form>
    <p><a href="/wp-login.php?action=lostpassword" class="thr-blue-button no-ajaxy">_(Lost Password)</a></p>
    <p><a href="/wp-login.php?action=register" class="thr-blue-button no-ajaxy">_(Register)</a></p>
{{/logged_in}}
{{#logged_in}}
    <h2>_(Log out of Tar Heel Reader)</h2>
    <p><a href="{{{logoutURL}}}" class="thr-blue-button no-ajaxy">_(Log out)</a></p>
{{/logged_in}}
