<!-- Begin Navigation -->
{{#notfound}}
<h2>_(Error 404: Page Not Found)</h2>
<p>_(We could not find the page you requested. Perhaps the links below will help you find the page you wanted.)</p>
{{/notfound}}
<ul class="navigationMenu">
    <li>
        <a class="homeLink" href="/">_(Home)</a>
        <img class="disclosure-icon" src="/theme/images/disclosure_icon.png" alt=" " />
    </li>
    <li>
        <a class="findLink" href="/find/">_(Find a book)</a>
        <img class="disclosure-icon" src="/theme/images/disclosure_icon.png" alt=" " />
    </li>
    <li>
        <a class="collectionsLink" href="/collections/">_(Collections)</a>
        <img class="disclosure-icon" src="/theme/images/disclosure_icon.png" alt=" " />
    </li>
    <li>
        <a class="favoritesLink" href="/favorites/">_(Favorites)</a>
        <img class="disclosure-icon" src="/theme/images/disclosure_icon.png" alt=" " />
    </li>
    <li>
        <a class="writeLink" href="/write/">_(Write a book)</a>
        <img class="disclosure-icon" src="/theme/images/disclosure_icon.png" alt=" " />
    </li>
    <li>
        <a class="loginLink" href="/login/">_(Log in)</a>
        <img class="disclosure-icon" src="/theme/images/disclosure_icon.png" alt=" " />
    </li>
    <li>
        <a class="helpLink" href="/help/" >_(Help)</a>
        <img class="disclosure-icon" src="/theme/images/disclosure_icon.png" alt=" " />
    </li>
    <li>
        <a class="yourBooksLink" href="/your-books/">_(Your books)</a>
        <img class="disclosure-icon" src="/theme/images/disclosure_icon.png" alt=" " />
    </li>
    <li>
        <a class="blogLink" href="/blog/">_(Announcements)</a>
        <img class="disclosure-icon" src="/theme/images/disclosure_icon.png" alt=" " />
    </li>
    <li>
        <a class="photoCreditsLink" href="/photo-credits/">_(Photo credits)</a>
        <img class="disclosure-icon" src="/theme/images/disclosure_icon.png" alt=" " />
    </li>
</ul>
<!-- End Navigation -->
