<!-- Begin Navigation -->
<ul class="navigationMenu">
 	<!-- Begin Main Navigation (initially displayed)-->
    <div class="mainNav">
    	<li><a class="homeLink" href="/">_(Home)</a></li>
        <li><a class="findLink" href="/find/">_(Find a Book)</a>
        <li><a class="collectionsLink" href="/reading-controls/">_(Collections)</a></li>
        <li><a class="favLink" href="/favorites/">_(Favorites)</a></li>
   	   	<li><a class="writeLink" href="/write/">_(Write a Book)</a></li>
   	   	<li><a class="loginLink" href="/login/">_(Login|section heading)</a></li>
   	   	<li><a class="faqLink" href="/frequently-asked-questions/" title="_(Frequently Asked Questions|link explanatory text)">_(FAQ|link label)</a></li>
   	    <li><a class="more" href="#">_(More|section heading)</a>
     </div>
     <!-- End Main Navigation-->
     <!-- Begin Secondary Navigation (shown when triggered)-->
     <div class="secondaryNav">
     	<li><a class="yourBooksLink" href="/your-books/">_(Books You Wrote)</a></li>
     	<li><a class="announcementsLink" href="/blog/">_(Announcements)</a></li>
     	<li><a class="photoCreditsLink" href="/photo-credits/">_(Photo Credits)</a></li>
     </div>
   	<!-- End Secondary Navigation -->
</ul>
<!-- End Navigation -->
