<!-- Begin Navigation -->
<ul class="navigationMenu">
    <li>
    	<a class="homeLink" href="/">_(Home)</a>
    	<img class="disclosure-icon" src="/theme/images/disclosure_icon.png"  alt="_(disclosure icon)"/>
   	</li>
    <li>
    	<a class="findLink" href="/find/">_(Find a Book)</a>
    	<img class="disclosure-icon" src="/theme/images/disclosure_icon.png"  alt="_(disclosure icon)"/>
   	</li>
    <li>
    	<a class="collectionsLink" href="/collections/">_(Collections)</a>
    	<img class="disclosure-icon" src="/theme/images/disclosure_icon.png"  alt="_(disclosure icon)"/>
    </li>
    <li>
    	<a class="favoritesLink" href="/favorites/">_(Favorites)</a>
    	<img class="disclosure-icon" src="/theme/images/disclosure_icon.png"  alt="_(disclosure icon)"/>
    </li>
   	<li>
   		<a class="writeLink" href="/write/">_(Write a Book)</a>
   		<img class="disclosure-icon" src="/theme/images/disclosure_icon.png"  alt="_(disclosure icon)"/>
   	</li>
   	<li>
   		<a class="loginLink" href="/login/">_(Login|section heading)</a>
   		<img class="disclosure-icon" src="/theme/images/disclosure_icon.png"  alt="_(disclosure icon)"/>
   	</li>
   	<li>
   		<a class="helpLink" href="/help/" title="_(Help|link explanatory text)">_(Help|link label)</a>
   		<img class="disclosure-icon" src="/theme/images/disclosure_icon.png"  alt="_(disclosure icon)"/>
   	</li>
    <li>
    	<a class="yourBooksLink" href="/your-books/">_(Books You Wrote)</a>
    	<img class="disclosure-icon" src="/theme/images/disclosure_icon.png"  alt="_(disclosure icon)"/>
    </li>
    <li>
    	<a class="blogLink" href="/blog/">_(Announcements)</a>
    	<img class="disclosure-icon" src="/theme/images/disclosure_icon.png"  alt="_(disclosure icon)"/>
    </li>
    <li>
    	<a class="photoCreditsLink" href="/photo-credits/">_(Photo Credits)</a>
    	<img class="disclosure-icon" src="/theme/images/disclosure_icon.png"  alt="_(disclosure icon)"/>
    </li>
</ul>
<!-- End Navigation -->
