<h3>{{title}}</h3>
<p>Click on the links below to go to the Flickr page for each photograph.</p>
<ol class="photoCredits">
{{#photos}}
    <li>
        {{^infolink}}
        <div class="photoCreditsBox">
            <img src="{{url}}" style="width:{{pw}}%; height:{{ph}}%; padding-top: {{pm}}%"
                 data-width="{{width}}" data-height="{{height}}" alt=" "/>
        </div>
        Uploaded
        {{/infolink}}
        {{#infolink}}
        <a href="{{infolink}}">
            <div class="photoCreditsBox">
                <img src="{{url}}" style="width:{{pw}}%; height:{{ph}}%; padding-top: {{pm}}%"
                     data-width="{{width}}" data-height="{{height}}" alt=" "/>
            </div>
            Flickr
        </a>
        {{/infolink}}
        <p>{{text}}</p>
    </li>
{{/photos}}
</ol>
