<h2>_(Reading Preferences)</h2>
<div class="reading-controls">
{{&settingsForm}}
</div>
{{#ID}}
    <h2>_(This book)</h2>
    <p>_(Favorites count): {{FavCount}}</p>
    {{#FavAdd}}
    <p><a href="?id={{ID}}&backto={{backto}}&favorites=A{{ID}}">_(Add to favorites.)</a></p>
    {{/FavAdd}}
    {{^FavAdd}}
    <p><a href="?id={{ID}}&backto={{backto}}&favorites=R{{ID}}">_(Remove from favorites.)</a></p>
    {{/FavAdd}}
    <p>_(Download this book): <a href="/download/?fmt=ppt&id={{ID}}" >PowerPoint</a>, <a href="/download/?fmt=imp&id={{ID}}" >Impress</a>, <a href="/download/?fmt=fla&id={{ID}}" >Flash</a>.</p>
{{/ID}}
