<h2>_(Reading Preferences)</h2>
<div class="reading-controls">
{{&settingsForm}}
</div>
{{#ID}}
    <div class="downloadLinks">
        <h2>_(Download this book)</h2>
        <a class="powerpoint no-ajaxy" href="/download-book/?type=pptx&id={{ID}}">_(PowerPoint)</a>
        <a class="epub no-ajaxy" href="/download-book/?type=epub&id={{ID}}&voice={{voice}}">_(EPUB)</a>
    </div>
    <div class="downloadLinks">
        <h2>_(Photo Credits)</h2>
        <a href="/photo-credits/?id={{ID}}">_(Photo credits for this book)</a>
    </div>
    {{#loggedIn}}
    <div class="downloadLinks">
        <h2>_(Change this book)</h2>
        <a href="/write/?copy={{ID}}">_(Create a new one like it.)</a>
        {{#canEdit}}
        <a href="/write/?id={{ID}}">_(Edit it.)</a>
        {{/canEdit}}
    </div>
    {{/loggedIn}}
{{/ID}}
