<div class="sidebar">
    <form action="/find/" class="searchform" method="get">
        <div>
            <label class="screen-reader-text">_(Search for|label for search box)</label>
                <input type="search" name="search" value="" />
            </label>
            <input type="hidden" name="page" value="1" />
            <input type="submit" value="Search" />
        </div>
    </form>
    <h2>_(Reading|section heading)</h2>
    <ul>
        <li><a href="{{findUrl}}">_(Find Books)</a></li>
        <li><a href="/favorites/">_(Favorites)</a></li>
        <li><a href="/reading-controls/">_(Settings)</a></li>
    </ul>

    <h2>_(Writing|section heading)</h2>
    <ul>
        <li><a href="/write/">_(Write a Book)</a></li>
        <li><a href="/your-books/">_(Books you wrote)</a></li>
    </uL>

    <h2>_(Info|section heading)</h2>
    <ul>
        <li><a href="/blog/">_(Announcements)</a></li>
        <li><a href="/frequently-asked-questions/" title="_(Frequently Asked Questions|link explanatory text)">_(FAQ|link label)</a></li>
        <li><a href="/photo-credits/">_(Photo Credits)</a></li>
    </ul>

	<h2>_(Admin|section heading)</h2>
	<ul>
        {{^loggedIn}}
		<li><a href="/wp-login.php?action=register">_(Register|link label)</a></li>
        <li><a href="/login/">_(Log In|link label)</a></li>
        {{/loggedIn}}
        {{#loggedIn}}
        <li><a href="/wp-admin/">_(Site Admin|link label)</a></li>
        <li><a href="/wp-login.php?action=logout">_(Log out|link label)</a></li>
        {{/loggedIn}}
	</ul>
</div>
<div style="clear: both"></div>
