 <!-- Begin Navigation -->
        <ul id="sidebar" class="panel navigation">
        	<li><a href="/" id="home">Home</a></li>
        	
        	<!-- Begin Reading Section -->
    		<li><a href="#" id="reading">_(Reading|section heading)</a>
    			<!-- Begin submenu -->
    			<ul class="submenu">
    				<li><a href="{{findUrl}}">_(Find a Book)</a>
        			<li><a href="/favorites/">_(Favorites)</a></li>
        			<li><a href="/reading-controls/">_(Collections)</a></li>
    			</ul>
    			<!-- End submenu -->
    		</li>
    		<!-- End Reading Section -->
    	
    		<!-- Begin Writing Section -->
    		<li><a href="#" id="writing">_(Writing|section heading)</a>
    			<!-- Begin submenu -->
 	 	  		<ul class="submenu">
   	   		  		<li><a href="/write/">_(Write a Book)</a></li>
   	     			<li><a href="/your-books/">_(Books You Wrote)</a></li>
   	 			</ul>
   	 			<!-- End submenu -->
   			</li>
			<!-- End Writing Section -->
			
			<!-- Begin User Seciton -->
			<li><a href="#" id="user">_(User|section heading)</a>
				<!-- Begin submenu -->
				<ul class="submenu">
    	    		{{^loggedIn}}
					<li><a href="/wp-login.php?action=register">_(Register|link label)</a></li>
     	   			<li><a href="/login/">_(Log In|link label)</a></li>
      	  			{{/loggedIn}}
      	  			{{#loggedIn}}
       				<li><a href="/wp-admin/" class="no-ajaxy">_(Site Admin|link label)</a></li>
       		 		<li><a href="/wp-login.php?action=logout">_(Log out|link label)</a></li>
       	 			{{/loggedIn}}
				</ul>
				<!-- End Submenu -->
			</li> 
			<!-- End User Section -->
			
			<!-- Begin Info Section-->
   	 		<li><a href="#" id="help">_(Help|section heading)</a>
   	 			<!-- Begin submenu -->
    			<ul class="submenu">
        			<li><a href="/blog/">_(Announcements)</a></li>
        			<li><a href="/frequently-asked-questions/" title="_(Frequently Asked Questions|link explanatory text)">_(FAQ|link label)</a></li>
        			<li><a href="/photo-credits/">_(Photo Credits)</a></li>
    			</ul>
    			<!-- End submenu -->
    		</li>
    		<!-- End Info Section -->
		
			<!-- Begin Search Section -->
			<!--
			<li>
				<form action="/find/" class="searchform" method="get">
        			<div>
            			<label>_(Search for|label for search box)</label>
            			<input type="search" name="search" value="" />
            			<input type="hidden" name="page" value="1" />
            			<input type="submit" value="Search" />
        			</div>
   			 	</form>
			</li>
			End Search Section -->
        </ul>
	<!-- End Navigation -->