<h1>_(Where are the readers?)</h1>
<p>_(Some of you may have wondered where in the world our books are read. The map and tables below depict the estimated locations of the computers that have read books on the site.)</p>
{{#user}}
    {{^mine}}
    <a class="thr-blue-button" href="/where-are-the-readers/?mine=1">_(Map your books)</a>
    {{/mine}}
    {{#mine}}
    <a class="thr-blue-button" href="/where-are-the-readers/">_(Map all books)</a>
    {{/mine}}
{{/user}}
{{#exists}}
<p>_(As of {{date}} our books have been read {{total}} times in {{country_count}} countries and {{state_count}} US states and possessions.)</p>
<img class="map" src="{{image}}" width="768" height="550" />

<hr/>
<table border='1' class='languages'>
    <caption>_(Books by Language)</caption>
    <tr><th>_(Language)</th><th>_(Books)</th><th>_(Reviewed)</th></tr>
    {{#languages}}
    <tr><td>{{language}}</td><td>{{total}}</td><td>{{reviewed}}</td></tr>
    {{/languages}}
</table>

<hr/>
<table border='1' class='readers'>
    <caption>_(Readers by Country)</caption>
    <tr><th>_(Books Read)</th><th>_(Name)</th></tr>
    {{#countries}}
    <tr><td>{{count}}</td><td>{{name}}</td></tr>
    {{/countries}}
</table>
<hr/>
<table border='1' class='readers'>
    <caption>_(Readers by US States and Possessions)</caption>
    <tr><th>_(Books Read)</th><th>_(Name)</th></tr>
    {{#states}}
    <tr><td>{{count}}</td><td>{{name}}</td></tr>
    {{/states}}
</table>
{{/exists}}
{{^exists}}
<p>_(We do not yet have any of your books on the map.)</p>
{{/exists}}
