<noscript>
<p>_(You must have Javascript enabled in order to write a book.)</p>
</noscript>
{{^loggedIn}}
<p>_(You must be logged in, to write a book.)<a href="/login/">_(Log In|link label)</a></p>
{{/loggedIn}}
<div id="writing-controls">
    <div class="accordion" id="step1">
        <h3><a href="#">_(Step 1: Find pictures at Flickr)</a></h3>
        <div>
            <form method="get" class="no-ajaxy">
                <label for="write-image-search">_(Enter words to search Flickr.)</label>
                <input type="search" name="query" id="write-image-search" />
                <input type="submit" value="_(Search)" />
                <img class="help" src="/theme/images/help.png" title="_(Enter words or phrases separated by commas to search Flickr. Enter the email address you use at Flickr to see your personal photos.)" />
            </form>
            <div id="gallery"></div>
            <a href="#" class="button no-ajaxy" id="gallery-back">Go back</a><a href="#" class="button no-ajaxy" id="gallery-more">More like these</a>
        </div>
        <h3><a href="#" class="spacer">_(Or upload your own pictures)</a></h3>
        <div id="w-upload">
            <form method="post" action="/upload-image/" class="no-ajaxy">
                <label for="write-file-upload">_(Enter a filename.)</label>
                <input type="file" name="imagefile" id="write-file-upload" />
                <input type="submit" value="_(Upload)" />
                <img class="help" src="/theme/images/help.png" title="_(Click browse to find an image on your computer, then click upload to add it to your book. Pictures must be less than 2 megabytes in size to properly upload. They will be automatically resized to 500x500 pixels.)" />

            </form>
        </div>
    </div>
    <div class="accordion" id="step2">
        <h3><a href="#">_(Step 2: Enter a short sentence for each page)</a></h3>
        <div>
            <div id="slide-wrap">
                <ul id="write-pages">
                </ul>
            </div>
            <p id="noPicturesMessage">_(After you select or upload pictures your pages will appear here.)</p>
        </div>
    </div>
    <div class="accordion" id="step3">
        <h3><a href="#">_(Step 3: Fill in the details)</a></h3>
        <div>
            <p>Book settings title, author, classification, language go here.</p>
            <label for="write-title">_(Title)</label>
            <input type="text" name="title" id="write-title" title="_(Enter a title for your book)" />
        </div>
    </div>
    <div class="accordion" id="step4">
        <h3><a href="#">_(Step 4: Publish)</a></h3>
        <div>
            <p>Buttons to publish, along with any things that need to be fixed before it will be enabled.</p>
        </div>
    </div>
</div>
