<noscript>
<p>_(You must have Javascript enabled in order to write a book.)</p>
</noscript>
<p class="unsupported classic">_(Your web browser does not support writing books.)</p>
{{^loggedIn}}
<p class="notLoggedIn">_(You must be logged in to write a book. Please log in below.)<a class="thr-blue-button" href="/login/?goto=write">_(Log In|link label)</a></p>
{{/loggedIn}}
<div class="writing-controls">
    <div class="steps step1">
        <h2>_(Step 1: Find pictures)</h2>
        <img class="help" src="/theme/images/help.png" title="_(Click for help)" alt="_(Click for help)"/>
        <p class="help-text" title="_(Step 1: Search Help)">_(Enter words to search Flickr or enter the email address you use at Flickr to see your personal photos. A set of pictures from Flickr will appear; click on one to preview.)</p>
        <div class="aWrap">
            <form class="image-search" method="get" class="no-ajaxy">
                <input class="thr-input" type="search" name="query" class="write-image-search" />
                <input class="thr-blue-button" type="submit" value="_(Search|button label)" />
            </form>
            <div class="gallery"></div>
            <div class="error-messages">
                <p class="em-g-not-found">_(No matching images found.)</p>
                <p class="em-g-invalid-email">_(No matching email address found.)</p>
            </div>
            <a href="#" class="button no-ajaxy gallery-back">_(Go back)</a><a href="#" class="button no-ajaxy gallery-more">_(More like these)</a>
        </div>
    </div>
    <div class="steps step1a">
        <h3>_(Or upload your own pictures)</h2>
        <img class="help" src="/theme/images/help.png" title="_(Click for help)" alt="_(Click for help)"/>
        <p class="help-text" title="_(Step 1: Upload Help)">_(Click browse to find an image on your computer, then click upload to add it to your book. Pictures must be less than 2 megabytes in size to properly upload. They will be resized to 500x500 pixels.)</p>
        <div class="file-uploader">
        </div>
    </div>
    <div class="steps step2">
        <h2>_(Step 2: Enter a short sentence for each page)</h2>
        <img class="help" src="/theme/images/help.png" title="_(Click for help)" alt="_(Click for help)"/>
        <p class="help-text" title="_(Step 2: Edit help)">_(Click on a page to edit it. You may reorder the pages with drag and drop.)</p>
        <div class="aWrap">
            <ul class="write-pages">
            </ul>
            <p class="noPicturesMessage">_(After you select or upload pictures your pages will appear here.)</p>
        </div>
    </div>
    <div class="steps step3">
        <h2>_(Step 3: Fill in the details)</h2>
        <img class="help" src="/theme/images/help.png" title="_(Click for help)" alt="_(Click for help)"/>
        <p class="help-text" title="_(Step 3: Details help)">_(Fill in the title for your book and select its language from the list. You may use a psuedonym if you wish by changing the author field.)</p>
        <div class="aWrap">
            <label><span>_(Title):</span>
                <input class="thr-input" type="text" name="title" title="_(Enter a title for your book)" maxlength="50" />
            </label>
            <label><span>_(Author):</span>
                <input class="thr-input" type="text" name="author" title="_(Enter a pseudonym)" value="{{user}}" maxlength="25" />
            </label>
            <label><span>_(Language):</span>
                <select name="language">
                    <option value=" ">_(Choose a language)</option>
                    {{#languages}}
                    <option value="{{value}}">{{label}}</option>
                    {{/languages}}
                </select>
            </label>
            <label><span>_(Optionally):</span><button class="thr-gray-button categorizeButton">_(Categorize your book)</button></label>
        </div>
    </div>
    <div class="steps step3a">
        <h3>_(Categorize your book)</h3>
        <img class="help" src="/theme/images/help.png" title="_(Click for help)" alt="_(Click for help)"/>
        <p class="help-text" title="_(Step 3: Categorize help)">_(You may select up to three library categories, an audience rating and BLF type if you wish.)</p>

        <div class="aWrap">
            <div class="settings categories"><b>_(Library Classification):</b><br />
                {{#categories}}
                <label><input name="category" type="checkbox" value="{{value}}" /> {{label}}</label>
                {{/categories}}
            </div>
            <div class="settings">
                <label><b>_(Audience Rating):</b>
                    <select name="audience">
                        <option value=" ">_(None)</option>
                        <option value="E">_(Rated E/Everybody|books appropriate for everyone)</option>
                        <option value="C">_(Rated C/Caution|books that may not be appropriate for all readers)</option>
                    </select>
                </label>
            </div>
            <div class="settings">
                <label><b>_(Beginning Literacy Framework Type):</b>
                    <select name="type">
                        <option value=" ">_(None)</option>
                        <option value="T">_(Transitional)</option>
                        <option value="C">_(Conventional)</option>
                        <option value="O">_(Other)</option>
                    </select>
                </label>
            </div>
            <div class="settings">
                <label><b>_(Tags):</b>
                    <input class="thr-input" style="width: 30em" type="text" name="tags" maxlength="100"
                        title="_(Enter a few descriptive words to make your book easier to find)" />
                </label>
                {{#canReview}}
                <br/>
                <label>
                    <input name="reviewed" type="checkbox" /> <b>_(Reviewed)</b>
                </label>
                {{/canReview}}
            </div>
        </div>
    </div>
    <div class="steps step4">
        <h2>_(Step 4: Publish)</h2>
        <div>
            <img class="help" src="/theme/images/help.png" title="_(Click for help)" alt="_(Click for help)"/>
            <p class="help-text" title="_(Step 4: Save help)">_(To continue working on your book later, or to remove it from public view, click Save as draft. You will be able to return it from the Your Books page. To publish your completed book, click Publish.)</p>
            <label class="uploadPermission">
                <input name="permission" type="checkbox" /> _(I have permission from any copyright holders to use the images I uploaded.)
            </label>
            <div class="aWrap">
                <button class="thr-gray-button save">_(Save as draft)</button>
                <button class="thr-gray-button publish">_(Publish)</button>
                <div class="publishErrors error-messages">
                    <p class="peMessage">_(Your book will not be published until you fix these issues.)</p>
                    <p class="peTitle">_(It must have a title.)</p>
                    <p class="peAuthor">_(It must have an author.)</p>
                    <p class="peCaption">_(Each page must have some text.)</p>
                    <p class="peCaptionLength">_(The text on each page must be less than 130 characters in length.)</p>
                    <p class="peLength">_(It must have at least 3 pages.)</p>
                    <p class="peLanguage">_(It must specify the language.)</p>
                    <p class="peCategories">_(It must be in no more than 4 categories.)</p>
                    <p class="pePermission">_(You must check that you have permission to use uploaded images.)</p>
                    <p class="peSaved">_(Your book has been saved as a draft.)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:none" class="writeLabels">
    <span class="wlAddToBook">_(Add to Book|button label)</span>
    <span class="wlClose">_(Close|button label)</span>
    <span class="wlPrevious">_(Previous|button label)</span>
    <span class="wlNext">_(Next|button label)</span>
    <span class="wlPageAdded">_(Page added to your book)</span>
    <span class="wlPageCopied">_(Page duplicated)</span>
    <div class="wEditHelp">
        <img class="help" src="/theme/images/help.png" title="_(Click for help)" alt="_(Click for help)"/>
        <p class="help-text" title="_(Page Editor Help)">_(Click on the text to change it. You may use the next and previous buttons to move between pages. When you're finished, close the editor by clicking on the x in the upper right.)</p>
    </div>
    <span class="wlClickToEdit">_(Click to edit)</span>
    <span class="wDeleteThisPage">_(Delete this page)</span>
    <span class="wCopyThisPage">_(Duplicate this page)</span>
    <span class="wLoseWork">_(If you leave you will lose your work on this book.)</span>
    <div class="wUploader"
        ><div class="qq-uploader"
            ><div class="qq-upload-drop-area"><span>_(Drop files here to upload)</span></div
            ><div class="qq-upload-button">_(Upload)</div
            ><ul class="qq-upload-list"></ul
        ></div
    ></div>
    <div class="wUploaderLi"
        ><li
            ><span class="qq-upload-file"></span
            ><span class="qq-upload-spinner"></span
            ><span class="qq-upload-size"></span
            ><a class="qq-upload-cancel" href="#">_(Cancel|Button label)</a
            ><span class="qq-upload-failed-text">_(Failed)</span
        ></li
    ></div>
</div>
