{{#user}}
	<div id="draftsContainer">
    	<h2>_(Your Draft Books)</h2>
    	{{#has_drafts}}
    	<p>_(Your draft books are listed below. To return to work on one, click on its title. To delete it, click the little check box next to its title and then press the "Delete selected drafts" button. Deleting a draft is not reversible.)</p>
    	<form method="POST" action="/your-books/">
        	<ul class="decoratedList">
            	{{#drafts}}
            	<li>
               	 	<input type='checkbox' name='del[]' value='{{ID}}' title='delete' />
                	<a href="/write/?id={{ID}}" class="book">{{title}}{{^title}}_(untitled){{/title}}</a>
            	</li>
         	   {{/drafts}}
        	</ul>
        	<input class="thr-gray-button" type="submit" value="_(Delete checked drafts)" name="delete" />
   	 	</form>
   	
    	{{/has_drafts}}
    	{{^has_drafts}}
    	<p>_(If you had any books saved as drafts they would appear here.)</p>
    	{{/has_drafts}}
   </div>

	<div id="publishedBooksContainer">
    	<h2>_(Your Published Books)</h2>
    	{{#has_published}}
    	<p>_(Your published books are listed below. You may read a book by clicking on its title. You may edit your book by clicking the Edit link after the title.)</p>
    	<ul class="decoratedList">
        	{{#published}}
        	<li>
            	<a href="{{link}}" class="book">{{title}}</a>
            	<a href="/write/?id={{ID}}" class="edit">_(Edit)</a>
        	</li>
        	{{/published}}
    	</ul>
    	{{/has_published}}
    	{{^has_published}}
    	<p>_(If you had any published books they would be listed here.)</p>
   </div>
    	{{/has_published}}
{{/user}}
{{^user}}
<p>_(You must be logged in to see your draft and published books.)</p>
{{/user}}

<h2>_(Where in the world are these books read?)</h2>
<p><a href="/where-are-the-readers/">_(Check out our map showing where these books have been read.)</a></p>
