.LevelButton {
  font-size: 1em;
  font-weight: bold;
  width: 80%;  
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#StudentList button {
  font-size: 1em;
}

#StudentList label {
  font-size: 1em;
  padding-right: 1em;
  display: inline-block;
  margin: 0.5em 0.1em;
}

#StudentList select {
  font-size: 1em;
}

#StudentList input {
  font-size: 1em;
}


.Find-Results { 
    list-style: none;
    padding-left: 0.0em;
    margin: 0 auto;
    text-align: center;
  }
  
  .Find-Results li {
    margin: 0.1em;
    line-height: 1em;
    width: 20em;
    border: 1px solid black;
    text-align: left;
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.5em;
    position: relative;
  }
  
  .Find-ReadButton {
    text-align: left;
    padding: 0.1em;
    float: left;
    margin-right: 0.5em;
    padding: 0.1em;
  }
  
  .Find-ReadButton img {
    float: left;
    margin-right: 0.2em;
    width: 6em;
    height: 6em;
    display: block;
    object-fit: contain;
  }
  
  .Find-Results h1 {
    margin: 0 0 0.25em 0.25em;
    height: 2.2em;
    font-size: 1em;
    line-height: 1.1em;
    overflow: hidden;
  }
  
  .Find-Author {
    font-size: 0.8em;
    overflow: hidden;
    margin: 0;
    height: 1.2em;
    vertical-align: middle;
    display: inline-block;
  }

  .Find-Results button.EditButton {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
